<ion-app>
  <!-- <ion-split-pane contentId="main-content"> -->
    <ion-menu menuId="main"  contentId="main-content" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title style="color:red">Menu</ion-title>
        <ion-avatar slot="start">
          <img src="https://w7.pngwing.com/pngs/995/238/png-transparent-the-checklist-manifesto-application-form.png">
        </ion-avatar>
      </ion-toolbar>
    </ion-header>
      <ion-content>

        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let left of leftMenu; let i = index">
            <ion-item routerDirection="root"  lines="none" detail="false" routerLinkActive="selected" >
              <ion-icon slot="start" name="{{left.icon}}" ></ion-icon>
              <ion-label  (click)="openPage(left)"   >{{ left.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>



        <ion-list id="inbox-list1">
          <ion-menu-toggle auto-hide="false" *ngFor="let left of leftMenu1;  let i = index" >
            <ion-item routerDirection="root"  lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="{{left.icon}}" ></ion-icon>
              <ion-label (click)="openNative(left)"  >{{ left.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>



      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  <!-- </ion-split-pane> -->
</ion-app>
