.title{
    text-align: center;
    font-size: 95px;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title1{
    text-align: center;
    font-size: 95px;
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title2{
    text-align: center;
    font-size: 95px;
    color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.image{
    border-radius: 40px;
    border: 1px solid blueviolet;
}

.header{
    color:blueviolet;
    border: 1px solid blueviolet;
    font-size: 25px;
}